@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap');


:root {
    --bg: #080909;
    --bg2: #0d0f0f;
    --card: #111313;
    --text: #f0f0ec;
    --muted: #858987;
    --accent: #d7ff3f;
    --accent2: #9fc91d;
    --border: rgba(255,255,255,.09);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    background: var(--bg);
    color: var(--text);
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background:
        radial-gradient(
            circle at 80% 20%,
            rgba(215,255,63,.08),
            transparent 30%
        );

    z-index: -2;
}


.noise {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 50;
    opacity: .035;

    background-image:
        url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.9' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
}


/* LOADER */

.loader {
    position: fixed;
    inset: 0;
    background: #050606;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .8s;
}


.loader.hide {
    opacity: 0;
    visibility: hidden;
}


.loader-logo {
    font-family: "Barlow Condensed";
    font-size: 80px;
    font-weight: 900;
    color: var(--accent);

    animation: pulse 1s infinite alternate;
}


.loader-line {
    width: 180px;
    height: 2px;
    background: #252727;
    margin: 20px 0;
    overflow: hidden;
}


.loader-line::after {
    content: "";
    display: block;
    width: 60%;
    height: 100%;
    background: var(--accent);

    animation: loading 1.2s infinite;
}


.loader span {
    color: #666;
    font-size: 10px;
    letter-spacing: 4px;
}


/* PARTICLES */

.particles {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}


.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--accent);
    opacity: .4;

    animation: floatParticle linear infinite;
}


/* NAV */

.navbar {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 6vw;

    background: rgba(8,9,9,.75);
    backdrop-filter: blur(15px);

    border-bottom: 1px solid var(--border);

    z-index: 100;
}


.logo {
    font-family: "Barlow Condensed";
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
}


.logo b,
.hero h1 span,
.signature h2 span {
    color: var(--accent);
}


nav {
    display: flex;
    gap: 35px;
}


nav a {
    color: #999;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;

    transition: .3s;
}


nav a:hover {
    color: var(--accent);
}


.nav-button {
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 12px 20px;

    text-decoration: none;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;

    transition: .3s;
}


.nav-button:hover {
    background: var(--accent);
    color: #050606;
    box-shadow: 0 0 25px rgba(215,255,63,.25);
}


/* HERO */

.hero {
    min-height: 100vh;
    padding: 150px 9vw 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}


.hero::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;

    background: var(--accent);
    opacity: .06;
    filter: blur(120px);

    right: 5%;
    top: 25%;
}


.hero-content {
    max-width: 750px;
}


.status {
    display: inline-flex;
    align-items: center;
    gap: 9px;

    border: 1px solid var(--border);
    padding: 8px 13px;

    color: #aaa;
    font-size: 9px;
    letter-spacing: 2px;

    margin-bottom: 25px;
}


.status-dot {
    width: 6px;
    height: 6px;
    background: var(--accent);
    border-radius: 50%;
    box-shadow: 0 0 12px var(--accent);

    animation: blink 1.2s infinite;
}


.small-title,
.eyebrow {
    font-size: 11px;
    color: var(--accent);
    letter-spacing: 4px;
    font-weight: 700;
}


.hero h1 {
    font-family: "Barlow Condensed";
    font-size: clamp(90px, 14vw, 190px);
    font-weight: 900;
    line-height: .8;
    letter-spacing: -7px;

    margin: 15px 0 30px;

    text-shadow:
        5px 5px 0 rgba(255,255,255,.025);
}


.hero-line {
    width: 120px;
    height: 3px;
    background: var(--accent);
    margin-bottom: 25px;

    box-shadow: 0 0 20px rgba(215,255,63,.4);
}


.hero-description {
    max-width: 530px;
    color: var(--muted);
    line-height: 1.8;
    font-size: 14px;
}


.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}


.btn {
    padding: 17px 27px;
    text-decoration: none;

    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;

    transition: .3s;
}


.btn.primary {
    background: var(--accent);
    color: #070808;
}


.btn.primary span {
    margin-left: 25px;
}


.btn.primary:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(215,255,63,.2);
}


.btn.secondary {
    border: 1px solid var(--border);
    color: white;
}


.btn.secondary:hover {
    border-color: var(--accent);
    color: var(--accent);
    transform: translateY(-4px);
}


/* PROFILE CARD */

.hero-card {
    width: 320px;
    padding: 25px;

    background:
        linear-gradient(
            145deg,
            rgba(255,255,255,.06),
            rgba(255,255,255,.015)
        );

    border: 1px solid var(--border);

    transform: rotate(2deg);

    transition: .5s;
}


.hero-card:hover {
    transform: rotate(0deg) translateY(-10px);
    border-color: rgba(215,255,63,.35);
}


.card-top {
    display: flex;
    justify-content: space-between;

    color: #666;
    font-size: 8px;
    letter-spacing: 2px;
}


.live {
    color: var(--accent);
}


.profile-symbol {
    width: 170px;
    height: 170px;

    margin: 35px auto 25px;

    border: 1px solid var(--accent);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Barlow Condensed";
    font-weight: 900;
    font-size: 70px;

    color: var(--accent);

    box-shadow:
        inset 0 0 40px rgba(215,255,63,.04),
        0 0 40px rgba(215,255,63,.06);
}


.hero-card h2 {
    font-family: "Barlow Condensed";
    font-size: 35px;
    text-align: center;
}


.hero-card > p {
    text-align: center;
    color: #666;
    font-size: 8px;
    letter-spacing: 3px;
    margin-top: 5px;
}


.mini-stats {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    border-top: 1px solid var(--border);

    margin-top: 25px;
    padding-top: 20px;

    text-align: center;
}


.mini-stats strong {
    display: block;
    font-family: "Barlow Condensed";
    font-size: 25px;
}


.mini-stats span {
    font-size: 7px;
    letter-spacing: 1px;
    color: #666;
}


.scroll {
    position: absolute;
    bottom: 30px;
    left: 9vw;

    color: #555;
    font-size: 8px;
    letter-spacing: 3px;

    display: flex;
    align-items: center;
    gap: 12px;
}


.scroll span {
    width: 30px;
    height: 1px;
    background: #555;
}


/* SECTIONS */

.section {
    padding: 150px 9vw;
}


.section-heading span {
    color: #555;
    font-size: 10px;
    letter-spacing: 4px;
}


.section-heading h2 {
    font-family: "Barlow Condensed";
    font-size: clamp(60px, 8vw, 110px);
    line-height: .85;
    margin-top: 15px;
}


.section-heading em {
    color: var(--accent);
    font-style: normal;
}


.center {
    text-align: center;
}


/* ABOUT */

.about-grid {
    margin-top: 80px;

    display: grid;
    grid-template-columns: 1.2fr .8fr;
    gap: 80px;
}


.about-text {
    max-width: 650px;
}


.about-text p {
    color: var(--muted);
    line-height: 1.9;
    margin-bottom: 25px;
}


.about-text .big-text {
    font-size: 22px;
    color: white;
}


.about-text strong {
    color: var(--accent);
}


.quote-card {
    border: 1px solid var(--border);
    padding: 45px;

    position: relative;

    background: linear-gradient(
        135deg,
        rgba(215,255,63,.05),
        transparent
    );
}


.quote-mark {
    font-family: Georgia;
    color: var(--accent);
    font-size: 70px;
    line-height: .5;
}


.quote-card h3 {
    font-family: "Barlow Condensed";
    font-size: 38px;
    margin: 25px 0 15px;
}


.quote-card p {
    color: #777;
    line-height: 1.7;
}


.quote-card > span {
    display: block;
    margin-top: 30px;

    color: var(--accent);
    font-size: 9px;
    letter-spacing: 3px;
}


/* STATS */

.stats-section {
    background: #0a0c0c;
}


.stats-grid {
    margin-top: 80px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.stat-card {
    padding: 45px 30px;

    border: 1px solid var(--border);
    margin: -1px 0 0 -1px;

    transition: .4s;
}


.stat-card:hover {
    background: #111414;
    transform: translateY(-8px);
    border-color: rgba(215,255,63,.3);

    box-shadow:
        0 20px 60px rgba(0,0,0,.3);
}


.stat-number {
    font-family: "Barlow Condensed";
    font-size: 80px;
    font-weight: 900;

    color: white;
}


.stat-number::after {
    content: "+";
    color: var(--accent);
}


.stat-label {
    margin-top: 10px;

    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
}


.stat-description {
    color: #555;
    font-size: 10px;
    margin-top: 12px;
}


.rank-symbol {
    font-family: "Barlow Condensed";
    font-size: 80px;
    color: var(--accent);
    font-weight: 900;
}


.weapon {
    font-family: "Barlow Condensed";
    font-size: 70px;
    font-weight: 900;

    color: var(--accent);
}


/* PLAYSTYLE */

.style-grid {
    margin-top: 80px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}


.style-card {
    padding: 40px;
    min-height: 270px;

    border: 1px solid var(--border);

    transition: .4s;
}


.style-card:hover {
    transform: translateY(-8px);
    border-color: var(--accent);
}


.style-card > span {
    color: var(--accent);
    font-size: 10px;
    letter-spacing: 2px;
}


.style-card h3 {
    font-family: "Barlow Condensed";
    font-size: 40px;
    margin: 60px 0 15px;
}


.style-card p {
    color: #666;
    font-size: 12px;
    line-height: 1.7;
}


/* CLAN */

.clan {
    background:
        radial-gradient(
            circle at 80% 50%,
            rgba(215,255,63,.08),
            transparent 30%
        ),
        #090b0b;
}


.clan-content {
    display: grid;
    grid-template-columns: .6fr 1fr;
    gap: 80px;
    align-items: center;
}


.clan-badge {
    width: 300px;
    height: 300px;

    border: 1px solid var(--accent);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Barlow Condensed";
    font-size: 150px;
    font-weight: 900;

    color: var(--accent);

    box-shadow:
        inset 0 0 80px rgba(215,255,63,.05),
        0 0 80px rgba(215,255,63,.05);
}


.clan h2 {
    font-family: "Barlow Condensed";
    font-size: 110px;
    line-height: .8;
    margin: 20px 0 30px;
}


.clan h2 em {
    color: var(--accent);
    font-style: normal;
}


.clan p {
    max-width: 500px;
    color: #777;
    line-height: 1.8;
}


.clan p strong {
    color: var(--accent);
}


.clan-tags {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}


.clan-tags span {
    padding: 8px 12px;
    border: 1px solid var(--border);

    color: #888;
    font-size: 8px;
    letter-spacing: 2px;
}


/* SIGNATURE */

.signature {
    padding: 180px 20px;
    text-align: center;

    position: relative;
    overflow: hidden;
}


.signature-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    white-space: nowrap;

    font-family: "Barlow Condensed";
    font-size: 25vw;
    font-weight: 900;

    color: rgba(255,255,255,.015);

    pointer-events: none;
}


.signature h2 {
    position: relative;

    font-family: "Barlow Condensed";
    font-size: clamp(70px, 13vw, 180px);
    line-height: .8;
}


.signature p {
    position: relative;

    color: #555;
    font-size: 9px;
    letter-spacing: 5px;
}


.signature-line {
    width: 100px;
    height: 2px;

    background: var(--accent);

    margin: 35px auto;
}


/* CONTACT */

.contact-buttons {
    max-width: 800px;
    margin: 70px auto 0;
}


.contact-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0;

    border-bottom: 1px solid var(--border);

    text-decoration: none;
    color: white;

    font-family: "Barlow Condensed";
    font-size: 30px;

    transition: .3s;
}


.contact-btn b {
    color: var(--accent);
    font-family: Inter;
}


.contact-btn:hover {
    color: var(--accent);
    padding-left: 15px;
}


/* FOOTER */

footer {
    border-top: 1px solid var(--border);

    padding: 30px 9vw;

    display: flex;
    justify-content: space-between;

    color: #444;

    font-size: 9px;
    letter-spacing: 2px;
}


footer div:first-child {
    color: var(--accent);
}


/* ANIMATIONS */

@keyframes pulse {
    from {
        opacity: .5;
        transform: scale(.98);
    }

    to {
        opacity: 1;
        transform: scale(1.03);
    }
}


@keyframes loading {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(250%);
    }
}


@keyframes blink {
    50% {
        opacity: .3;
    }
}


@keyframes floatParticle {
    from {
        transform: translateY(110vh);
    }

    to {
        transform: translateY(-10vh);
    }
}


/* SCROLL REVEAL */

.section,
.signature,
.contact {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .9s ease, transform .9s ease;
}


.section.visible,
.signature.visible,
.contact.visible {
    opacity: 1;
    transform: translateY(0);
}


/* MOBILE */

@media (max-width: 900px) {

    nav {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .hero {
        flex-direction: column;
        align-items: flex-start;
        gap: 70px;
        padding-top: 140px;
    }

    .hero-card {
        align-self: center;
        width: min(100%, 350px);
    }

    .hero h1 {
        font-size: 23vw;
        letter-spacing: -4px;
    }

    .about-grid,
    .clan-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .stats-grid {
        grid-template-columns: repeat(2,1fr);
    }

    .style-grid {
        grid-template-columns: 1fr;
    }

    .clan-badge {
        width: 220px;
        height: 220px;
        font-size: 110px;
    }

    .clan h2 {
        font-size: 90px;
    }
}


@media (max-width: 500px) {

    .navbar {
        padding: 0 20px;
    }

    .section,
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero h1 {
        font-size: 25vw;
    }

    .hero-description {
        font-size: 13px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .btn {
        text-align: center;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .stat-card {
        padding: 35px 25px;
    }

    .about-grid {
        margin-top: 50px;
    }

    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .quote-card {
        padding: 30px;
    }

    .clan h2 {
        font-size: 75px;
    }

    footer {
        padding: 25px 20px;
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }
}